In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gspread

In [10]:
octOverview = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTzosEj_RfJEZgoC6h7AinJc0znDN5eIRzg9bADDJs9jS8Z84WLLhmjG_TPTozRjpX_M_nzEIfEnyfL/pub?output=csv")

In [23]:
octOverview.head()

,Date,Begin of day,End of day,Number of hours lived,Sustain hours,Army hours,Working hours,Chill hours,Workout hours,Other hours,Unknown hours,Assumption
0,2020.10.12,6.5,22.75,16.25,3.0,4.5,2.50,3.0,1.00,1.0,1.25,unsure
1,2020.10.13,6.5,22.75,16.25,3.5,5.0,4.25,2.0,1.50,NaN,0.00,NaN
2,2020.10.14,6.5,23.00,16.50,3.5,5.0,1.00,4.0,2.00,0.5,0.50,NaN
3,2020.10.15,6.5,22.50,16.00,3.5,5.0,4.25,1.0,1.25,0.5,0.50,errands
4,2020.10.16,6.5,23.00,16.50,3.5,7.0,2.00,2.0,1.50,0.0,0.50,NaN

In [17]:
octHealth = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTzosEj_RfJEZgoC6h7AinJc0znDN5eIRzg9bADDJs9jS8Z84WLLhmjG_TPTozRjpX_M_nzEIfEnyfL/pub?gid=1268687469&single=true&output=csv")

In [18]:
octHealth.head()

,Unnamed: 0,workout,workout type,workout hour,meditation,meditation type,extra food,body weight,weight difference,happiness score,MO
0,2020.10.12,True,shoulder,1.00,False,none,none,63.1,0.1,6.0,0.0
1,2020.10.13,True,back,1.50,True,everyday headspace,"avocado, sweet potato, bread",63.8,0.7,6.5,0.0
2,2020.10.14,True,futsal,2.00,False,none,avocado,63.3,-0.5,7.5,1.5
3,2020.10.15,True,push,1.25,True,everyday headspace,"banana,sandwich",64.0,0.7,7.5,1.0
4,2020.10.16,True,cardio,1.50,False,none,banana,63.1,-0.9,7.0,0.0

In [19]:
octGrow = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTzosEj_RfJEZgoC6h7AinJc0znDN5eIRzg9bADDJs9jS8Z84WLLhmjG_TPTozRjpX_M_nzEIfEnyfL/pub?gid=777489243&single=true&output=csv")

In [20]:
octGrow.head()

,Unnamed: 0,Army hours,Coding hours,Type of coding,Book title,Number of pages read,Previous day page,Other hours,Other type,Efficiency score
0,2020.10.12,4.5,1.50,data science,Geek Heresy,10.0,160.0,1.0,PG essay,5.5
1,2020.10.13,5.0,3.00,data science,Geek Heresy,12.0,172.0,0.5,PG essay,7.0
2,2020.10.14,5.0,0.00,NaN,Geek Heresy,18.0,190.0,0.5,writing,7.5
3,2020.10.15,5.0,4.25,data science,Geek Heresy,5.0,195.0,0.5,writing,8.0
4,2020.10.16,7.0,1.00,data science,Geek Heresy,0.0,195.0,0.0,NaN,6.5

In [24]:
octOverview.describe()

,Begin of day,End of day,Number of hours lived,Sustain hours,Army hours,Working hours,Chill hours,Workout hours,Other hours,Unknown hours
count,20.000000,20.000000,20.000000,20.000000,20.000000,19.000000,19.000000,19.000000,8.000000,19.000000
mean,6.675000,22.937500,16.262500,3.475000,4.725000,2.894737,2.947368,1.039474,0.593750,0.723684
std,0.293571,0.555327,0.587563,0.111803,2.658032,1.512255,1.553622,0.678352,0.421255,0.975017
min,6.500000,22.000000,15.500000,3.000000,0.500000,1.000000,1.000000,0.000000,0.000000,-1.250000
25%,6.500000,22.750000,15.937500,3.500000,3.625000,2.000000,2.000000,0.500000,0.375000,0.125000
50%,6.500000,22.875000,16.250000,3.500000,5.000000,3.000000,2.500000,1.500000,0.625000,0.500000
75%,7.000000,23.000000,16.500000,3.500000,6.625000,3.750000,3.500000,1.500000,1.000000,1.125000
max,7.500000,24.500000,18.000000,3.500000,8.000000,7.000000,6.000000,2.000000,1.000000,2.500000